@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    margin: 0px;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    padding: 1em; 
    position: relative; /* pour que la box-shadow soit visible en passant au-dessus de l'élément en -dessous. Relative veut dire reste sur sa position */
}

body {
    font-family: roboto;
}
.localisation {
    display: flex;
    justify-content: center;
    font-family: roboto;
    margin: auto;
    background-color: #f3f3f3;
}

.localisation i {
    padding: 1rem 1.2rem;
}

.info {
    text-align: center; /* centrer le texte*/
    background-color: #fafafa;
    padding: 2em; /* marges intérieures de la div*/
}

.info button {
    border-radius: 2em; /* bords arrondis du bouton*/
    background-image: linear-gradient( rgba(255, 121, 218, 0.9), rgba(147, 86, 220, 0.9));
    font-size:1.1em ;
    padding: 0.5em 1em;
    border: none;
    color: white;
    box-shadow: 0 0 00.5em grey;
    cursor: pointer;

}
.info button:hover {
    transform: scale(1.02);
    opacity: 0.9;
}

.fonction ol{
  display: flex;  
}

.fonction i {
    
}