@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
header {
    font-family: 'Shrikhand', cursive;
    text-align: center;
    margin: 0px;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    padding: 1em; 
}

body {
    font-family: roboto;
}
.localisation {
    display: flex;
    justify-content: center;
    font-family: roboto;
    margin: auto;
    background-color: #f3f3f3;
}

.localisation i {
    padding: 1rem 1.2rem;
}

.info {
    text-align: center; /* centrer le texte*/
    background-color: #fafafa;
    padding: 2em; /* marges intérieures de la div*/
}

.info button {
    border-radius: 1em 1em 1em 1em; /* bords arrondis du bouton*/
    background-color: #FF79DA;
    font-size:1.1em ;
    color: white;

}

.fonction ol{
  display: flex;  
}

.fonction i {
    
}